[submodule "components/u8g2_hal_esp_idf"]
	path = components/u8g2_hal_esp_idf
	url = https://github.com/mkfrey/u8g2_hal_esp_idf.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
